/// Базовые цвета https://colorscheme.ru/color-converter.html

$black:                       #000000;
$white:                       #ffffff;
$grey:                        #333333;

$theme-color:                  #ffd93e;

// Семантические цвета

$text-color-dark:             $black;
$text-color:                  $grey;
$text-color--light:           #858585;
$body-bg:                     #ffffff;
$block-bg:                    #f7f7f7;
$block-bg-hover:              #b8aeae;

$border-color:                #f0f0f0;

// Базовая типографика

$basefontSize: 10px;
$font-size:                   14px;

$font-family:                 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
$font-family--serif:          'Georgia', 'Times New Roman', 'Times', serif;
$font-family--monospace:      'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
$font-family--headings:       $font-family;

// Ширины

$mobile:               480px;
$fablet:               768px;
$tablet:               1023px;
$desktop:              1280px;
$wide-desktop:         1920px;


// Разное

$border-radius:               20px;
$opacity:                     0.6;
$transition-time:             0.2s;
$shadow-off:                   0 2px 6px 0 rgba(197, 186, 186, 0);
$shadow:                      0 2px 6px 0 rgba(197, 186, 186, 0.5);

$z-index-modal:               100;
