.header {
  position: relative;
  height: 92px;
  border-bottom: 1px solid $border-color;
  z-index: 1;

  @media (max-width: $fablet) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    justify-content: space-between;
  }

  &__inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    @media (max-width: $fablet) {
      justify-content: space-between;
    }
  }

  &__pseudo {
    display: none;

    @media (max-width: $fablet) {
      display: block;
      position: relative;
      width: 100%;
      height: 92px;
      z-index: -1;
    }
  }

  &__logo {
    display: inline-block;
  }
}

.logo {
  position: relative;
  width: 108px;
  height: auto;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.header__menu {
  display: inline-block;
  margin-left: 52px;
}

.header-menu__icon-wr {
  display: none;

  @media (max-width: $fablet) {
    position: relative;
    display: block;
    z-index: 3;
  }
}

.header-menu__icon {
  position: relative;
  width: 16px;
  height: 14px;
  transform: scale(1);
  background-image: url('/images/icon_list_m.png');
  background-image: url('/images/icon_list_m.svg');
  background-repeat: no-repeat;
  background-size: contain;
  // TODO: сделать css-бургер

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('/images/icon_list_m@2x.png');
  }

  &:hover {
    transform: scale(1.1);
  }
}

.nav {
  position: relative;

  @media (max-width: $fablet) {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 300px;
    height: 100%;
    padding: 30px;
    background-color: $block-bg;
    transform: scale(0);
    transform-origin: 100% 0;
    transition: transform $transition-time;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }

  &__item {
    display: inline-block;
    margin-right: 28px;
    @include font(16px, $font-family, 20px);
    font-weight: 600;
    text-decoration: none;
    color: $text-color;
    opacity: 0.6;

    @media (max-width: $fablet) {
      display: block;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--is-active {
      pointer-events: none;
      opacity: 1;
    }
  }
}

.nav__wr {

  @media (max-width: $fablet) {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgba($black, 0);
    transition: background-color $transition-time;
  }
}

.header-menu__toggle {
  display: none;

  @media (max-width: $fablet) {
    position: absolute;
    left: -100%;
    top: -100%;

    &:checked {
      & ~ .nav__wr {
        right: 0;
        background-color: rgba($black, 0.5);
      }

      & ~ .nav__wr .nav {
        transform: scale(1);
      }
    }
  }
}
