.page {
  position: relative;
  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;
  overflow-x: hidden;
  background-color: $body-bg;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  background-color: #fff;
  margin: 0;
  // min-height: 100%;
  overflow-x: hidden;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;

  @media (max-width: $tablet) {
    padding: 0 30px;
  }

  @media (max-width: $mobile) {
    padding: 0 20px;
  }
}

.top-section {
  display: flex;

  @media (max-width: $desktop) {
    display: block;
  }

  &__left {
    flex-grow: 1;
    margin-right: 26px;
    width: calc(100% - 630px - 26px);

    @media (max-width: $desktop) {
      width: 100%;
    }

    @media (max-width: $tablet) {
      width: 100%;
    }
  }

  &__right {
    width: 630px;
    flex-shrink: 0;

    @media (max-width: $desktop) {
      width:100%;
    }

    @media (max-width: $tablet) {
      width: 100%;
    }
  }
}

.section {
  position: relative;

  &__title-wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: inline-block;
    @include titleH2($text-color);
  }

  &__panel {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $fablet) {
      justify-content: flex-end;
    }
  }
}

.devices-section {
  position: relative;

  &__filters {
    margin-left: 13px;

    @media (max-width: $fablet) {
      display: none;
    }
  }

  &__arrows {
    margin-left: 13px;
  }
}
