.slider-arrows {
  display: flex;
  justify-content: space-between;
  width: 32px;

  &--is-hidden {
    display: none;
  }

  &__btn {
    position: relative;
    width: 14px;
    height: 14px;
    cursor: pointer;
    background: svg-load('../images/img_to_bg/slider-arrow.svg', fill=$grey);
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity $transition-time;
  }

  &__btn--prev {
    transform: rotate(180deg);
  }

  &__btn--is-disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}
